<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>968912512565-m1a9utcodu0cripbl0teeihb6aeti5el.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.968912512565-m1a9utcodu0cripbl0teeihb6aeti5el</string>
	<key>API_KEY</key>
	<string>AIzaSyC9I3oLYf_XBvurzBMuMqS0mVklvzcOzXk</string>
	<key>GCM_SENDER_ID</key>
	<string>968912512565</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.untitled5</string>
	<key>PROJECT_ID</key>
	<string>login-764cb</string>
	<key>STORAGE_BUCKET</key>
	<string>login-764cb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:968912512565:ios:46969599b006256822737c</string>
</dict>
</plist>